@{
    this.ViewBag.Title = "Contact";
}
@section Focus{
    @FocusPage.Declare("Contact", "")
}



<h3 class="title">Un problème technique ?</h3>
<p>Vous avez des questions relatives au fonctionnement de notre site ?<br />
Nous avons préparé une Foire Aux Questions qui devrait répondre à toutes vos interrogations techniques.</p>
<p><a href="@Url.Action("FAQ")" class="accentColor button">Aller au site de support</a></p>

@*
    You should override this view for your network.
*@


