
<div style="margin:30px auto 0; width:510px; text-align:left">

<div class="exchangeMode exchangeMode1">
    <h4>Chercher une compétence</h4>
    <label>Titre</label>
    <input type="text" id="Title1" class="textbox" style="width:362px" /><br />

    <label>Description</label>
    <textarea id="Desc1" class="textarea" style="width:362px"></textarea><br />

    <br />
</div>

<div class="exchangeMode exchangeMode2">
    <h4>Chercher du matériel</h4>
    <label>Titre</label>
    <input type="text" id="Title2" class="textbox" style="width:362px" /><br />

    <br />

    <label>Description</label>
    <textarea id="Desc2" class="textarea" style="width:362px"></textarea><br />

    <br />
</div>

<div class="exchangeMode exchangeMode3">
    <h4>Chercher une surface</h4>
    <label>Titre</label>
    <input type="text" id="Title3" class="textbox" style="width:362px" /><br />

    <br />

    <label>Surface</label>
    <input type="text" id="Area3" class="textbox" style="width:30px" /> m²<br />

    <br />

    <label>Description</label>
    <textarea id="Desc3" class="textarea" style="width:362px"></textarea><br />

    <br />
</div>
    
<div class="exchangeMode exchangeMode4">
    <h4>Proposer une compétence</h4>
    <label>Titre</label>
    <input type="text" id="Title4" class="textbox" style="width:362px" /><br />

    <label>Description</label>
    <textarea id="Desc4" class="textarea" style="width:362px"></textarea><br />

    <br />
</div>

<div class="exchangeMode exchangeMode5">
    <h4>Proposer du matériel</h4>
    <label>Titre</label>
    <input type="text" id="Title5" class="textbox" style="width:362px" /><br />

    <br />

    <label>Description</label>
    <textarea id="Desc5" class="textarea" style="width:362px"></textarea><br />

    <br />
</div>

<div class="exchangeMode exchangeMode6">
    <h4>Proposer une surface</h4>
    <label>Titre</label>
    <input type="text" id="Title6" class="textbox" style="width:362px" /><br />

    <br />
    
    <label>Surface</label>
    <input type="text" id="Area6" class="textbox" style="width:30px" /> m²<br />

    <br />

    <label>Description</label>
    <textarea id="Desc6" class="textarea" style="width:362px"></textarea><br />

    <br />
</div>


</div>

<div class="small_shadow_bottom"></div>
<div style="text-align:center">
    <a href="javascript:void(0)" class="button networkAccentBgColor" onclick="MsgBoxSubmit()">Retour</a>
    <a href="javascript:void(0)" class="button networkAccentBgColor" onclick="AddExchange()">Valider</a>
</div>