<?xml version="1.0"?>
<configuration>
  <appSettings>
    
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint name="SparkleSystems.WcfConfigurationFactory.DefaultEndpoint" address="http://neo.sparklenetworks.org/Sparkle/Configuration.svc" binding="basicHttpBinding" contract="Sparkle.Infrastructure.Data.IConfigurationRepository">
      </endpoint>
    </client>
    <services>
      <service name="Sparkle.Infrastructure.Data.SqlConfigurationRepository">
        <endpoint binding="basicHttpBinding" contract="Sparkle.Infrastructure.Data.IConfigurationRepository" address="">
        </endpoint>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add service="Sparkle.Infrastructure.Data.SqlConfigurationRepository" relativeAddress="Sparkle/Configuration.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
