@{Layout = "Parent";}

<h1 class="h1" style="color: @Model.Lang.T("AccentColor");display: block;font-family: Arial;font-size: 34px;font-weight: lighter;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">rejoindre  @Model.Lang.T("AppName")</h1>

<h3 style="color:#424242; display: block;font-family: Arial;font-weight: lighter;font-size: 16px;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;">Les &eacute;v&egrave;nements de la semaine &agrave; </h3>
