<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PartnersEntities" connectionString="metadata=res://*/Partners.Model.PartnersModel.csdl|res://*/Partners.Model.PartnersModel.ssdl|res://*/Partners.Model.PartnersModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SparkleDevSql;initial catalog=SparklePartners;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NetworksEntities" connectionString="metadata=res://*/Networks.Model.NetworksModel.csdl|res://*/Networks.Model.NetworksModel.ssdl|res://*/Networks.Model.NetworksModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SparkleSqlDev;initial catalog=SparkleNetworksWorld;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>