@model Sparkle.Services.Networks.Users.ConfirmEmailResult
@{
    this.ViewBag.Title = Lang.T("Confirmation de votre adresse email");
    this.SetHelpPage("Features/UserAccount");
}
@section Focus{
    @FocusPage.Declare(ViewBag.Title)
}

<p></p>
