@model Sparkle.Models.AccountTwitterModel
@{
    ViewBag.Title = "Compte Twitter";
}

<div class="pageTitle">
    <h2>Compte Twitter</h2>
</div>


    <a class="flatButtonInline" href="/Account/ConfigureTwitter">Lier mon compte Twitter</a>
    